In [1]:
import pandas as pd

pizza = {'diameter': [6, 8, 10, 14, 18], 
         'n_topping': [2, 1, 0, 2, 0],
         'harga': [7, 9, 13, 17.5, 18]}

train_pizza_df = pd.DataFrame(pizza)
train_pizza_df

   diameter  n_topping  harga
0         6          2    7.0
1         8          1    9.0
2        10          0   13.0
3        14          2   17.5
4        18          0   18.0

In [2]:
pizza = {'diameter': [8, 9, 11, 16, 12], 
         'n_topping': [2, 0, 2, 2, 0],
         'harga': [11, 8.5, 15, 18, 11]}

test_pizza_df = pd.DataFrame(pizza)
test_pizza_df

   diameter  n_topping  harga
0         8          2   11.0
1         9          0    8.5
2        11          2   15.0
3        16          2   18.0
4        12          0   11.0

In [3]:
import numpy as np

X_train = np.array(train_pizza_df[['diameter', 'n_topping']])
y_train = np.array(train_pizza_df['harga'])

print('X_train: ',X_train)
print('y_train: ',y_train)

X_train:  [[ 6  2]
 [ 8  1]
 [10  0]
 [14  2]
 [18  0]]
y_train:  [ 7.   9.  13.  17.5 18. ]

In [5]:
X_test = np.array(test_pizza_df[['diameter', 'n_topping']])
y_test = np.array(test_pizza_df['harga'])

print('X_train: ',X_test)
print('y_train: ',y_test)

X_train:  [[ 8  2]
 [ 9  0]
 [11  2]
 [16  2]
 [12  0]]
y_train:  [11.   8.5 15.  18.  11. ]

### Mutiple Linear Regresion merupakan generalisasi dari simple linear regression yang memungkinkan explanatory variable

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
    
print(f'r_squared: {r2_score(y_test, y_pred)}')

r_squared: 0.7701677731318468

### Polynominal Regression

In [7]:
X_train = np.array(train_pizza_df['diameter']).reshape(-1, 1)
y_train = np.array(train_pizza_df['harga'])

print('X_train: ',X_train)
print('y_train: ',y_train)

X_train:  [[ 6]
 [ 8]
 [10]
 [14]
 [18]]
y_train:  [ 7.   9.  13.  17.5 18. ]

In [ ]:
from sklearn.preprocessing import PolynomialFeatures

quadratic_feature = PolynomialFeatures(degree=2)
X_train_quadratic = quadratic_feature.fit_transform(X_train)

print(f'X_train_quadratic:\n{X_train_quadratic}\n'.)